* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Poppins;
}
body {
  background-color: hsl(0, 0%, 0%);
  color: hsl(0, 0%, 100%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
header {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: min(3em, 10%);
  width: 100%;
  margin-bottom: 50px;
}
header img {
  max-width: 400px;
}
header p {
  max-width: 400px;
  text-align: center;
}
.grid {
  display: grid;
  width: 100%;
  max-width: 1600px;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 50px;
  padding: min(3em, 10%);
  margin-bottom: 50px;
}
.img {
  background-color: hsl(0, 0%, 10%);
  width: 1fr;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: hsl(0, 0%, 60%);
}

.grid h4 {
  margin-bottom: 5px;
}
.para p {
  color: hsl(0, 0%, 70%);
}
.para {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.grid-item {
  position: relative;
  margin-bottom: 30px;
  width: 100%;
}
.icon {
  position: absolute;
  right: 10px;
  bottom: 3.5rem;
}
footer {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: min(3em, 10%);
  width: 100%;
}
footer img {
  max-width: 200px;
}
.left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  position: relative;
  height: 300px;
  /* gap: 10px; */
}
.contact {
  display: flex;
  gap: 8px;
}
footer h2 {
  margin-bottom: 10px;
}
.icon:hover {
  cursor: pointer;
}
.icon {
  scale: 1.5;
}
.svgs {
  scale: 1.5;
  position: absolute;
  bottom: 0;
  left: 14px;
}
.para:nth-of-type(1) {
  margin-bottom: 200px;
}
@media (max-width: 744px) {
  .icon {
    bottom: 2rem;
  }
}
@media (max-width: 596px) {
  .icon {
    bottom: 3.2rem;
  }
}
@media (max-width: 860px) {
  footer {
    justify-content: center;
  }
}
